<h1><%= @user.name %></h1>
<p>Here's your profile, I guess.</p>
<h4>Events that I'm hosting:</h4>
<% unless @user.created_events.empty? %>
    <ul>
        <% @user.created_events.each do |event| %>
            <li><%= link_to event.name, event_path(event.id) %></li>
        <% end %>
    </ul>
<% else %>
    <p>No events found</p>
<% end %>
<br />
<% unless @user.attended_events.empty? %>
    <h4>Events that I'm attending:</h4>
    <ul>
        <% upcoming_events.each do |event| %>
            <li><%= link_to event.name, event_path(event.id) %></li>
        <% end %>
        <% if upcoming_events.empty? %>
            <p>Doesn't look like anything to me.</p>
        <% end %>
    </ul>
    <h4>Events that I already attended:</h4>
    <ul>
        <% previous_events.each do |event| %>
            <li><%= link_to event.name, event_path(event.id) %></li>
        <% end %>
        <% if previous_events.empty? %>
            <p>Doesn't look like anything to me.</p>
        <% end %>
    </ul>
<% else %>
    <p>None yet</i>
<% end %>